/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@200;600;800&display=swap');

/*                 Media-independent part            */
body {
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
}

h1, h2, h3, h4 { font-family: 'Noto Sans', sans-serif; }
/*              Pictures               */
#logo {
    margin-right: 10px;
}
.btn-light {
    background-color: #fff5f5;
}
.margin
{
    display: inline-flex;
    margin-right: 10px
}
.container
{
    max-width: 95%;
}
.u-image
{
    cursor:pointer;
    margin-right: 10px;
}
.email
{
    color: white;
    margin-top: 5px;
    padding-top: 2px;
    font-weight: 600;
}
@media (min-width: 1200px) {
    #map {
        width: 600px;
        height: 400px;
    }
    main { padding: 80px 15px 0; }
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        grid-template-rows: repeat(1, auto);
        margin: 25px 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }

}
@media (max-width: 1199px) and (min-width: 992px) {
    #map {
        width: 600px;
        height: 400px;
    }
    main { padding: 80px 15px 0; }
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        grid-template-rows: repeat(1, auto);
        margin: 25px 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    #map {
        width: 600px;
        height: 400px;
    }
    main { padding: 80px 15px 0; }
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        grid-template-rows: repeat(1, auto);
        margin: 25px 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    #map {
        width: 100%;
        height: 300px;
    }
    main { padding: 100px 15px 0; }
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        grid-template-rows: repeat(1, auto);
        margin: 25px 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
}
@media (min-width: 490px) and (max-width: 575px) {
    #map {
        width: 100%;
        height: 200px;
    }
    main { padding: 100px 0 0; }
    #map {
        box-sizing: border-box;
    }
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        grid-template-rows: repeat(1, auto);
        margin: 25px 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
}
@media (max-width: 489px) {
    main { padding: 150px 0 0; }
}
.field_with_errors
{
    color: red;
}
.filter {
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter a {
    display: inline-flex;
    text-align: center;
    padding: .7em 1em;
    margin: 5px;
    border-radius: 25px;
    background: crimson;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.filter a.keyword { visibility: hidden; }
.filter a.current {
    background: orangered;
    visibility: visible;
}
.pagination { visibility: hidden }

keyword {
    display: inline-flex;
    padding: .2em .4em;
    margin: 10px;
    background-color: #efe9f5;
    border-radius: 6px;
}
a {
    color: #fc6f03;
    text-decoration: underline;
}
nav {
    background: #5c0017; /* fallback for old browsers */
    background: -webkit-linear-gradient(270deg, #5c0017, #ffe5ec); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(270deg, #5c0017, #ffe5ec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-outline-info { font-weight: bold }
.btn-outline-light { font-weight: bold }
.btn-outline-primary { font-weight: bold }
.btn-primary { font-weight: bold }
.btn-outline-danger { font-weight: bold }
