/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.margin
{
    margin-right: 20px
}
.container
{
    max-width: 90%;
}
main
{
    padding: 60px 15px 0;
    width: available;
}
@media (min-width: 1200px) {
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        width: 1140px;
        grid-template-rows: repeat(1, auto);
        margin: 50px 0;
    }
    .u-block-d040-25 {
        grid-template-columns: repeat(3, 33.3333%);
        min-height: 375px;
        grid-gap: 0;
    }
    .u-block-d040-5 {
        padding: 20px 30px;
    }
    .u-block-d040-6 {
        height: 213px;
        margin: 0 auto 0 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
    .u-block-d040-22 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-9 {
        padding: 20px 30px;
    }
    .u-block-d040-10 {
        height: 213px;
        margin: 0 auto 0 0;
    }
    .u-block-d040-11 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-19 {
        margin: 20px 0 0;
    }
    .u-block-d040-23 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-13 {
        padding: 20px 30px;
    }
    .u-block-d040-14 {
        height: 213px;
        margin: 0 auto 0 0;
    }
    .u-block-d040-15 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-21 {
        margin: 20px 0 0;
    }
    .u-block-d040-24 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        width: 940px;
        grid-template-rows: repeat(1, auto);
        margin: 50px 0;
    }
    .u-block-d040-25 {
        grid-template-columns: repeat(3, 33.333333333333336%);
        min-height: 309px;
        grid-gap: 0;
    }
    .u-block-d040-5 {
        padding: 20px 30px;
    }
    .u-block-d040-6 {
        height: 169px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
    .u-block-d040-22 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-9 {
        padding: 20px 30px;
    }
    .u-block-d040-10 {
        height: 169px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-11 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-19 {
        margin: 20px 0 0;
    }
    .u-block-d040-23 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-13 {
        padding: 20px 30px;
    }
    .u-block-d040-14 {
        height: 169px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-15 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-21 {
        margin: 20px 0 0;
    }
    .u-block-d040-24 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        width: 720px;
        grid-template-rows: repeat(1, auto);
        margin: 50px 0;
    }
    .u-block-d040-25 {
        grid-template-columns: repeat(2, 50%);
        min-height: 710px;
        grid-gap: 0;
    }
    .u-block-d040-5 {
        padding: 20px 30px;
    }
    .u-block-d040-6 {
        height: 200px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
    .u-block-d040-22 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-9 {
        padding: 20px 30px;
    }
    .u-block-d040-10 {
        height: 200px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-11 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-19 {
        margin: 20px 0 0;
    }
    .u-block-d040-23 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-13 {
        padding: 20px 30px;
    }
    .u-block-d040-14 {
        height: 200px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-15 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-21 {
        margin: 20px 0 0;
    }
    .u-block-d040-24 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        width: 540px;
        grid-template-rows: repeat(1, auto);
        margin: 50px 0;
    }
    .u-block-d040-25 {
        grid-template-columns: 100%;
        min-height: 710px;
        grid-gap: 0;
    }
    .u-block-d040-5 {
        padding: 20px 10px;
    }
    .u-block-d040-6 {
        height: 347px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
    .u-block-d040-22 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-9 {
        padding: 20px 10px;
    }
    .u-block-d040-10 {
        height: 347px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-11 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-19 {
        margin: 20px 0 0;
    }
    .u-block-d040-23 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-13 {
        padding: 20px 10px;
    }
    .u-block-d040-14 {
        height: 347px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-15 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-21 {
        margin: 20px 0 0;
    }
    .u-block-d040-24 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
}
@media (max-width: 575px) {
    .u-block-d040-2 {
        min-height: 552px;
    }
    .u-block-d040-3 {
        width: 340px;
        grid-template-rows: repeat(1, auto);
        margin: 50px 0;
    }
    .u-block-d040-25 {
        grid-template-columns: 100%;
        min-height: 710px;
        grid-gap: 0;
    }
    .u-block-d040-5 {
        padding: 20px 10px;
    }
    .u-block-d040-6 {
        height: 214px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-7 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-17 {
        margin: 20px 0 0;
    }
    .u-block-d040-22 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-9 {
        padding: 20px 10px;
    }
    .u-block-d040-10 {
        height: 214px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-11 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-19 {
        margin: 20px 0 0;
    }
    .u-block-d040-23 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
    .u-block-d040-13 {
        padding: 20px 10px;
    }
    .u-block-d040-14 {
        height: 214px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-block-d040-15 {
        margin: 20px auto 0 0;
    }
    .u-block-d040-21 {
        margin: 20px 0 0;
    }
    .u-block-d040-24 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none none solid;
        text-transform: uppercase;
        margin: 20px auto 0 0;
        padding: 2px 0;
    }
}